
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Crooc/Views/Shared/_CroocMaster.cshtml";
}

<div class="col-md-9">
    <article class="post clearfix">
        <div class="post-inner">
            <h2 class="post-title"><span class="post-type"><i class="icon-picture"></i></span><a href="@Url.Action("Detail","Story")">This is a Standard Post.</a></h2>

            <div class="post-img"><a href="@Url.Action("Detail","Story")"><img src="~/Areas/Crooc/Content/images/posts/loneliness-1440x900.jpg" alt=""></a></div>
            <div class="post-meta">
                <span class="meta-author"><i class="icon-user"></i><a href="index.htm#">ArapŞükrü</a></span>
                <span class="meta-date"><i class="icon-time"></i>Eylül 30 , 2013</span>
                <span class="meta-categories"><i class="icon-suitcase"></i><a href="index.htm#">Gezi</a></span>
                <span class="meta-comment"><i class="icon-comments-alt"></i><a href="index.htm#">55 yorum</a></span>
            </div>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat venenatis mi.</p>
                <a href="single_post.html" class="post-read-more button color small">Tümünü Oku</a>
            </div>
        </div>
    </article>
    <article class="post clearfix">
        <div class="post-inner">
            <h2 class="post-title"><span class="post-type"><i class="icon-film"></i></span><a href="@Url.Action("Detail","Story")">Beautiful Gallery Post.</a></h2>

            <div class="flexslider blog_silder margin_b_20 post-img">
                <ul class="slides">
                    <li><img src="~/Areas/Crooc/Content/images/posts/3d-cartoon-caracter2.jpg" alt=""></li>
                    <li><img src="~/Areas/Crooc/Content/images/posts/WebshotNature-250.jpg" alt=""></li>
                </ul>
            </div>
            <div class="post-meta">
                <span class="meta-author"><i class="icon-user"></i><a href="index.htm#">HoneyBadger</a></span>
                <span class="meta-date"><i class="icon-time"></i>Ağustos 10 , 2013</span>
                <span class="meta-categories"><i class="icon-suitcase"></i><a href="index.htm#">Gündem</a></span>
                <span class="meta-comment"><i class="icon-comments-alt"></i><a href="index.htm#">45 yorum</a></span>
            </div>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat venenatis mi.</p>
                <a href="single_post.html" class="post-read-more button color small">Tümünü Oku</a>
            </div>
        </div>
    </article>
    <article class="post clearfix">
        <div class="post-inner">
            <h2 class="post-title"><span class="post-type"><i class="icon-film"></i></span><a href="@Url.Action("Detail","Story")">Beautiful Gallery Post.</a></h2>

            <div class="flexslider blog_silder margin_b_20 post-img">
                <ul class="slides">
                    <li><img src="~/Areas/Crooc/Content/images/posts/3d-cartoon-caracter2.jpg" alt=""></li>
                    <li><img src="~/Areas/Crooc/Content/images/posts/WebshotNature-250.jpg" alt=""></li>
                </ul>
            </div>
            <div class="post-meta">
                <span class="meta-author"><i class="icon-user"></i><a href="index.htm#">Jackquin</a></span>
                <span class="meta-date"><i class="icon-time"></i>Şubat 20 , 2013</span>
                <span class="meta-categories"><i class="icon-suitcase"></i><a href="index.htm#">Tarih</a></span>
                <span class="meta-comment"><i class="icon-comments-alt"></i><a href="index.htm#">35 yorum</a></span>
            </div>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat venenatis mi.</p>
                <a href="single_post.html" class="post-read-more button color small">Tümünü Oku</a>
            </div>
        </div>
    </article>
    <article class="post clearfix">
        <div class="post-inner">
            <h2 class="post-title"><span class="post-type"><i class="icon-film"></i></span><a href="@Url.Action("Detail","Story")">Beautiful Gallery Post.</a></h2>

            <div class="flexslider blog_silder margin_b_20 post-img">
                <ul class="slides">
                    <li><img src="~/Areas/Crooc/Content/images/posts/3d-cartoon-caracter2.jpg" alt=""></li>
                    <li><img src="~/Areas/Crooc/Content/images/posts/WebshotNature-250.jpg" alt=""></li>
                </ul>
            </div>
            <div class="post-meta">
                <span class="meta-author"><i class="icon-user"></i><a href="index.htm#">KorayErsin</a></span>
                <span class="meta-date"><i class="icon-time"></i>Ekim 30 , 2017</span>
                <span class="meta-categories"><i class="icon-suitcase"></i><a href="index.htm#">Sosyal Paylaşım</a></span>
                <span class="meta-comment"><i class="icon-comments-alt"></i><a href="index.htm#">15 yorum</a></span>
            </div>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu. Fusce viverra neque at purus laoreet consequat. Vivamus vulputate posuere nisl quis consequat. Donec congue commodo mi, sed commodo velit fringilla ac. Fusce placerat venenatis mi.</p>
                <a href="single_post.html" class="post-read-more button color small">Tümünü Oku</a>
            </div>
        </div>
    </article>
    <div class="pagination">
        <a href="index.htm#" class="prev-button"><i class="icon-angle-left"></i></a>
        <span class="current">1</span>
        <a href="index.htm#">2</a>
        <a href="index.htm#">3</a>
        <a href="index.htm#" class="next-button"><i class="icon-angle-right"></i></a>
    </div>
</div>

