
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Areas/Crooc/Views/Shared/_CroocMaster.cshtml";
}
@model SosyalSozlukCrooc.Models.Entity.User
<section class="container main-content">
    <div class="row">
        <div class="col-md-9">
            <div class="alert-message warning">
                <i class="fa fa-exclamation-circle"></i>
                <p>
                    <span>Uyarı!</span><br>
                    E-mail ve kullanıcı adı bilgilerinizi değiştirmek için lütfen yöneticiler ile iletişime geçiniz.
                </p>
            </div>
            @Html.Partial("~/Areas/Crooc/Views/Shared/Partial/_ProcessMessages.cshtml")
            <div class="page-content">
                <div class="boxedtitle page-title"><h2>Bilgilerim</h2></div>
                <div class="form-style form-style-4">
                    @using (Html.BeginForm("","", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-inputs clearfix">
                            <p>
                                <label>İsim</label>
                                @Html.TextBoxFor(x => x.Name, new { @autocomplete = "off", @required = "required" })
                            </p>
                            <p>
                                <label>Soyisim</label>
                                @Html.TextBoxFor(x => x.Surname, new { @autocomplete = "off", @required = "required" })
                            </p>
                            <p>
                                <label class="required">E-mail<span></span></label>
                                @Html.TextBoxFor(x => x.Mail, new { @autocomplete = "off", @required = "required", @disabled = "disabled" })
                            </p>   
                            <p>
                                <label class="required">Kullanıcı Adı<span></span></label>
                                @Html.TextBoxFor(x => x.Nickname, new { @autocomplete = "off", @required = "required", @disabled = "disabled" })
                            </p>                       
                            <p>
                                <label>Üyelik Tarihi</label>
                                @Html.TextBoxFor(x => x.AddDate, new { @autocomplete = "off", @required = "required", @disabled = "disabled" })
                            </p>
                            <p>
                                <label>Son Güncelleme</label>
                                @Html.TextBoxFor(x => x.UpdateDate, new { @autocomplete = "off", @required = "required", @disabled = "disabled" })
                            </p>
                        </div>
                        <div class="form-style form-style-2">
                            <div class="user-profile-img"><img src="@Html.ValueFor(x => x.ProfilePicture)" alt="admin"></div>
                            <p class="user-profile-p">
                                <label>Profil Resmi</label>
                            </p><div class="fileinputs">
                                <input type="file" class="file" value="@Html.ValueFor(x=>x.ProfilePicture)"  name="ProfilePicture" id="ProfilePicture" accept="image/*">
                                <div class="fakefile">
                                    <button type="button" class="button small margin_0">Resim Seçin</button>
                                    <span><i class="icon-arrow-up"></i>Dosyalar</span>
                                </div>
                            </div>
                            <p></p>
                            <div class="clearfix"></div>
                            <p>
                                <label>Biyografi</label>
                                @Html.TextAreaFor(x => x.Biography , new { @cols="58", @rows="8" })
                            </p>
                        </div>
                        <div class="form-inputs clearfix">
                            <p>
                                <label>Facebook</label>
                                @Html.TextBoxFor(x => x.Facebook, new { @autocomplete = "off"})
                            </p>
                            <p>
                                <label>Twitter</label>
                                @Html.TextBoxFor(x => x.Twitter, new { @autocomplete = "off"})
                            </p>
                            <p>
                                <label>Instagram</label>
                                @Html.TextBoxFor(x => x.Instagram, new { @autocomplete = "off"})
                            </p>
                            <p>
                                <label>Linkedin</label>
                                @Html.TextBoxFor(x => x.Linkedin, new { @autocomplete = "off"})
                            </p>
                        </div>
                        <p class="form-submit">
                            <input type="submit" value="Güncelle" class="button color small login-submit submit">
                        </p>
                    }
                </div>
            </div>
        </div>
        <aside class="col-md-3 sidebar">
            <div class="widget widget_stats">
                <h3 class="widget_title">Stats</h3>
                <div class="ul_list ul_list-icon-ok">
                    <ul>
                        <li><i class="icon-question-sign"></i>Questions ( <span>20</span> )</li>
                        <li><i class="icon-comment"></i>Answers ( <span>50</span> )</li>
                    </ul>
                </div>
            </div>
            <div class="widget widget_social">
                <h3 class="widget_title">Find Us</h3>
                <ul>
                    <li class="rss-subscribers">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="icon-rss"></i>
                                <span>Subscribe</span><br>
                                <small>To RSS Feed</small>
                            </strong>
                        </a>
                    </li>
                    <li class="facebook-fans">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="social_icon-facebook"></i>
                                <span>5,000</span><br>
                                <small>People like it</small>
                            </strong>
                        </a>
                    </li>
                    <li class="twitter-followers">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="social_icon-twitter"></i>
                                <span>3,000</span><br>
                                <small>Followers</small>
                            </strong>
                        </a>
                    </li>
                    <li class="youtube-subs">
                        <a href="#" target="_blank">
                            <strong>
                                <i class="icon-play"></i>
                                <span>1,000</span><br>
                                <small>Subscribers</small>
                            </strong>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="widget widget_login">
                <h3 class="widget_title">Login</h3>
                <div class="form-style form-style-2">
                    <form>
                        <div class="form-inputs clearfix">
                            <p class="login-text">
                                <input type="text" value="Username" onfocus="if (this.value == 'Username') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Username';}">
                                <i class="icon-user"></i>
                            </p>
                            <p class="login-password">
                                <input type="password" value="Password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Password';}">
                                <i class="icon-lock"></i>
                                <a href="#">Forget</a>
                            </p>
                        </div>
                        <p class="form-submit login-submit">
                            <input type="submit" value="Log in" class="button color small login-submit submit">
                        </p>
                        <div class="rememberme">
                            <label><input type="checkbox" checked="checked"> Remember Me</label>
                        </div>
                    </form>
                    <ul class="login-links login-links-r">
                        <li><a href="#">Register</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="widget widget_highest_points">
                <h3 class="widget_title">Highest points</h3>
                <ul>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60" src="http://2code.info/demo/html/ask-me/images/demo/admin.jpeg" alt=""></a>
                        </div>
                        <h6><a href="#">admin</a></h6>
                        <span class="comment">12 Points</span>
                    </li>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60" src="http://2code.info/demo/html/ask-me/images/demo/avatar.png" alt=""></a>
                        </div>
                        <h6><a href="#">vbegy</a></h6>
                        <span class="comment">10 Points</span>
                    </li>
                    <li>
                        <div class="author-img">
                            <a href="#"><img width="60" height="60" src="http://2code.info/demo/html/ask-me/images/demo/avatar.png" alt=""></a>
                        </div>
                        <h6><a href="#">ahmed</a></h6>
                        <span class="comment">5 Points</span>
                    </li>
                </ul>
            </div>
            <div class="widget widget_tag_cloud">
                <h3 class="widget_title">Tags</h3>
                <a href="#">projects</a>
                <a href="#">Portfolio</a>
                <a href="#">Wordpress</a>
                <a href="#">Html</a>
                <a href="#">Css</a>
                <a href="#">jQuery</a>
                <a href="#">2code</a>
                <a href="#">vbegy</a>
            </div>
            <div class="widget">
                <h3 class="widget_title">Recent Questions</h3>
                <ul class="related-posts">
                    <li class="related-item">
                        <h3><a href="#">This is my first Question</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="clear"></div><span>Feb 22, 2014</span>
                    </li>
                    <li class="related-item">
                        <h3><a href="#">This Is My Second Poll Question</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="clear"></div><span>Feb 22, 2014</span>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</section>

